* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(https://images.wallpaperscraft.com/image/milky_way_starry_sky_stars_128523_1920x1080.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main {
    position: absolute;
    top: 30%;
    left: 44%;
    background:linear-gradient(to right, #65ade6, #4c394f);
}
.tombol {
    padding: 2px;
    margin: 3px;
    width: 50px;
    font-size: 25px;
    background-color: #ac7dff;
    cursor: pointer;
}
.view {
    text-align: end;
    padding: 10px;
    height: 30px;
    margin: 6px;
    width: 200px;
    color: #cddf17;
    background-color: #100425a6;
    font-size: 25px;
}